@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-rodape{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.rodape{
  background-image: linear-gradient(to left, rgb(0, 152, 223),rgb(28, 109, 175));
    /* background-color: #24262b; */
    padding: 70px 0;
    margin-top: 10%;
    background-size: 500% 100%;
    animation: degrade-animado 3s infinite alternate;
}
.rodape-col{
width: 25%;
padding: 0 15px;
}
.rodape-col h4{
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 35px;   
  font-weight: 500;
  position: relative;
}
.rodape-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.rodape-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.rodape-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.rodape-col ul li a:hover{
    color: #FFFFFF;
    padding-left: 8px;
}
.rodape-col .links-redes a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all 0.5s ease;
}
.rodape-col .links-redes a:hover{
   color: #24262b;
   background-color: #FFFFFF;
}
/* reponsiva */
@media(max-width: 767px){
.rodape-col{
 width: 50%;
 margin-bottom: 30px;
} 
}

@media(max-width: 574px){
.rodape-col{
 width: 100%;
} 
} 

@keyframes degrade-animado {

  0%{
      background-position-x: 0%;
  }

  100%{
      background-position-x: 100%;
  }


}